*~
\#*\#

# https://github.com/github/gitignore/blob/master/CMake.gitignore
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
__pycache__
*.h5

.sys.v*

.ipynb_checkpoints
.vscode/