*~
\#*\#

# https://github.com/github/gitignore/blob/master/CMake.gitignore
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
__pycache__
*.h5

.sys.v*

.ipynb_checkpoints
examples/EricScripts/
examples/SimpleDemoPBW.ipynb
examples/simplePBW_1mmAl_1e5_DistribTest.png
.vscode/